$wechat-gray: #ebebeb;
$wechat-green: #09bb07;

body {
	margin: 0 0;
    padding: 15px;
    background-color: #ececec;
}

.button-green {
    background-color: $wechat-green !important;
    color: #fff!important;
}
input{
	border-radius: 0px!important;
}