@import "../../global/stylesheets/bourbon/bourbon";
@import "../../global/stylesheets/base/base";
@import "../../global/stylesheets/neat/neat";
@import "../../global/stylesheets/common";
body {
    padding: 13px;
}

a article {
    border-radius:6px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    @include clearfix;
    color: #333;
    .left {
        float: left;
        .serial-number {
            color: #808080;
        }
    }
    .right {
        text-align: right;
        float: right;
        .date {
            color: #808080;
        }
    }
}
