@import "../../global/stylesheets/bourbon/bourbon";
@import "../../global/stylesheets/base/base";
@import "../../global/stylesheets/neat/neat";
@import "../../global/stylesheets/components/button";
@import "../../global/stylesheets/components/list";
@import "../../global/stylesheets/common";

body {
    background-color: #fff;
}

.content .title {
    @include span-columns(5);
    @include shift(1);
    margin-left: 4.5298%;
}

.content .value {
    @include span-columns(6);
}

.large span.yen{
    top: 3px;
    left: 4px;
}

.edit .content .title {
    @include span-columns(7);
    @include shift(1);
    margin-left: 4.5298%;
}

.edit .content .value {
    @include span-columns(4);
}

.content .value:last-child {
    text-align: right;
}

.content .value.red {
    color: $content-red;
}

.content .value.green {
    color: $wechat-green;
}

.content .value.red.large {
    font-size: 34px;
}

p.hint {
    padding-top: 10px;
    font-size: 13px;
}

.list .item a:hover,
.list .item a:active,
.list .item a.active {
    text-decoration: none;
}

.ui.list .item a:hover {
    color: #333 !important;
}

.ui.relaxed.list:not(.horizontal) .item {
    padding-top: .8rem;
    padding-bottom: .8rem;
}

.list .item a {
    display: block;
}

.list .item a > i:first-child {
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 9px;
    float: right;
    top: 9px;
    position: relative;
    margin-right: 10px;
    border-radius: 3px;
}

.gray {
    margin-left: .5em;
    color: #b7b5b5;
}
input[type="checkbox"]{
    margin-left:4.5298%;
}
.disabled{
    opacity: 0.4;
}
.checkbox-label{
    margin-left:0.5em;
    display: inline-block;
}
.fa{
    margin-left:0.5em;
}