<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <script src="/wechat-view/index/main.scss.js"></script>
</head>

<body>
    <ul>
        <li><a target="_blank" href="/dialog">dialog</a></li>
        <li><a target="_blank" href="/binding">binding</a></li>
        <li><a target="_blank" href="/coupon">coupon</a></li>
        <li><a target="_blank" href="/parkingRecord">parkingRecord</a></li>
        <li><a target="_blank" href="/wechat-view/paychoice">paychoice</a></li>
        <li><a target="_blank" href="/wechat-view/car">car</a></li>
        <li><a target="_blank" href="/wechat-view/ParkingPayment">ParkingPayment</a></li>
        <li><a target="_blank" href="/wechat-view/ParkingPaymentOverTime">ParkingPaymentOverTime</a></li>
        <li><a target="_blank" href="/wechat-view/UseCouponForParkingPayment">UseCouponForParkingPayment</a></li>
        <li><a target="_blank" href="/wechat-view/carAuth">carAuth</a></li>
        <li><a target="_blank" href="/wechat-view/afterCarAuth">afterCarAuth</a></li>
        <li><a target="_blank" href="/wechat-view/help">help</a></li>
    </ul>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
   
</body>

</html>
