<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
</head>

<body>
    <ul>
        <li><a target="_blank" href="signin">signin</a></li>
        <li><a target="_blank" href="coupon">coupon</a></li>
        <li><a target="_blank" href="couponForPay">couponForPay</a></li>
        <li><a target="_blank" href="pay">pay</a></li>
        <li><a target="_blank" href="paychoice">paychoice</a></li>
        <li><a target="_blank" href="car">car</a></li>
        <li><a target="_blank" href="carAuth">carAuth</a></li>
        <li><a target="_blank" href="afterCarAuth">afterCarAuth</a></li>
        <li><a target="_blank" href="record">record</a></li>
        <li><a target="_blank" href="recordDetail">recordDetail</a></li>
        <li><a target="_blank" href="help">help</a></li>
    </ul>
</body>

</html>