@import "../../global/stylesheets/bourbon/bourbon";
@import "../../global/stylesheets/base/base";
@import "../../global/stylesheets/neat/neat";
@import "../../global/stylesheets/common";
@import "../../global/stylesheets/cards";
/* common body padding is 15px , [tab-nav] needs to be customized to fit the screen width */
body{     
    padding: 0px;
}

.tab-nav{
	font-size: .9em;
    background-color: #fff;
    display: flex;
    text-align: center;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
.tab-nav .tab-nav-button{
	@include span-columns(6);
    width: 50%;
	padding: 1.1em 0 0 0;
    margin-right: 0px;
	color: $used-gray;
    height: 50px;
}
.tab-nav .tab-nav-button.active, .tab-nav .tab-nav-button:hover{
	color: $wechat-green;
    height: 50px;
	border-bottom: $wechat-green 2px solid;
}
#TabContent{
    padding: 70px 15px 15px 15px;
}

.content-red{
    color: $content-red ;
}