@import "../../global/stylesheets/bourbon/bourbon";
@import "../../global/stylesheets/base/base";
@import "../../global/stylesheets/neat/neat";

@import "../../global/stylesheets/components/button";
@import "../../global/stylesheets/components/list";

body{
    background-color: #fff;
}
.content .title{
    @include span-columns(5);
    @include shift(1);
    margin-left: 4.5298%;
}

.content .value{
    @include span-columns(6);
}
.content .value:last-child{
    text-align: right;
}
.content .value.red{
    color: red;
}

.content .value.green{
    color: green;
}
p.hint{
    padding-top: 10px;
    font-size: 13px;
}
.ui.relaxed.list:not(.horizontal) > .item {
    padding-top: .7rem;
    padding-bottom: .7rem;
}

.content .large {
    font-weight: bold;
}