@import "../../global/stylesheets/bourbon/bourbon";
@import "../../global/stylesheets/base/base";
@import "../../global/stylesheets/neat/neat";
@import "../../global/stylesheets/common";
@import "../../global/stylesheets/dialog";

@import "../../global/stylesheets/components/form";
@import "../../global/stylesheets/components/button";
@import "../../global/stylesheets/components/dropdown";
@import "../../global/stylesheets/components/input";
@import "../../global/stylesheets/carcode";

/*驗證碼fields*/

.ui.form .field > .selection.dropdown {
    position: relative;
}

#ValidateFields {
    margin-bottom: 1em;
    .validate-code {
        @include span-columns(7);
    }
    .get-code-field {
        text-align: right;
        @include span-columns(5);
        #GetCode {
            @include span-columns(12);
            background-color: #ccc;
            border-radius: 0px!important;
            border: 1px solid rgba(39, 41, 43, 0.15);
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}


/*車牌*/

.ui.form .field > .selection.dropdown {
    @include span-columns(4);
    min-width: initial;
    position: relative;
    border-radius: 0px;
    border: 1px solid rgba(39, 41, 43, 0.15);
    margin-bottom: 1em;
    margin-right: 0;
}

.ui.selection.dropdown > .text {
    margin-right: 0px;
}


/*車號*/

#CarNumber {
    text-transform: uppercase;
    margin-bottom: 1em;
    border-left: none;
    width: 68.23843%;
    height: 43px;
}


/*車牌字顏色*/

.ui.default.dropdown:hover > .text,
.ui.default.dropdown > .text,
.ui.dropdown:hover > .default.text,
.ui.dropdown > .default.text {
    color: black;
}

.center{
    text-align: center;
}